doctype html
html
	block head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel="stylesheet" href="/materialize/css/materialize.min.css")
		script(src="/jquery/jquery.min.js")
		script(src="/materialize/js/materialize.min.js")
		script(src='/javascripts/log4javascript.js')
		script(src='/javascripts/Parser1p2.js')
		script(src='/javascripts/Rte1p2Api.js')
		script(src='/javascripts/RteApiSite.js')
		script(src='/javascripts/typevalidators1p2.js')
		script(src='/javascripts/stringfunctions.js')
	body(class="container")
		nav
			.nav-wrapper.grey
				a.brand-logo.right(href='#') SCORM Wrapper
				ul#nav-mobile.left.hide-on-med-and-down
					li
						a(href='/upload') Upload New PIF
					li
						a(href='/wrapper') List Uploads
		block content