extends layout

block content
	.row
		form#scormpifupload.col.m4.offset-m4(enctype='multipart/form-data', method='post')
			.file-field.input-field
				.btn.grey
					span File
					input(type='file', name='scormpif', id='scormpif')
				.file-path-wrapper
					input.file-path.validate(type='text', placeholder='Upload SCORM PIF')
			.input-field
				button.btn.grey(type='submit', id='uploadBtn', disabled) Submit
			.progress(style='display:none;')
				.indeterminate.grey
	.row.img-preview(id='uploads')
	script(src="/javascripts/upload-client.js")